* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bBory{
    background-color: white;
    width: 100vw;
    background-color: antiquewhite;
}

header{

    background-color: black;
}
img{
    height: 200px;
    width: 540px;
    
}

.Formularios {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    height: auto;
    margin: 15px auto;
    border: 1px solid black;
    padding: 30px;
    color: white;
    font-size: 1.5rem;
}

h2{
    text-align: center;
    width: 600px;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
form {
    width: 600px;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}

body {
background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    width: 150px;
    height: 30px;
}

.sImage{
    width: 600px;
    object-fit: contain;
}

@media (max-width: 900px) {
    .conteiner {
        width: 80vw;
    }
}

#noticiaForm{
    width: 540px;
}

.btn_adm{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1.1rem;
    background-color: green;
    color: white;

}

a{
    text-decoration: none;
}